/* 15. Blocks 块 */
.block {
    padding:6rem 2rem;
    border: 2px solid red ;
  }
  .block__heading{
    margin-top: 0;
  }
  .block--dark{
    background-color: #000;
    color: #7b858b;
  }
  .block--dark .block__heading{
    color: #fff;
  }
  /* 路径裁切 */
  /* 右斜切 */
  .block--skewed-right{
    padding-bottom: 8rem;
     clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 80%);
  }
  .block--skewed-left{
    clip-path: polygon(0% 0%,100% 0%,100% 80%,0% 100%);
  }