:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}
/* 1. Typography 字体设置 */
html {
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
/* 2. Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* 3. badges 大小标签 */
/* 先定义结构 然后是外观 */
.badge {
  white-space: nowrap;
  padding: 0.5rem 2rem;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  border-radius: 20px;
}
/* BEM命名规范
1. .block {}  代表了更高级别的抽象或组件。

2. .block__element {} 代表.block的后代，用于形成一个完整的.block的整体。

3. .block--modifier {} 代表.block的不同专题或不同版本或不同的区块。

4. _ 单下划线：单下划线用来描述一个块或者块的子元素的一种状态。
*/

.badge--primary {
  background-color: var(--color-primary);
}
.badge--secondary {
  background-color: var(--color-secondary);
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  /* 正常默认是大标签  */
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
/* 4. Lists 列表 */
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}
/* 
list__item
我们将区域名和结构名用双下划线分开
这个item元素是区域内表达的元素，他不是另一个单独的元素或者组件，它只是存在于这个列表中的
 */
/* 
  list--inline 不同的区块 也就是横行排练变成行内样式，
  但是行内样式 padding有四边的边距但是上下不能撑开盒子，
  margin 只有左右的边距 所以要设置成行内块样式，   
   <p>ssss <span>ssss</span> </p>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               
 */
/*p {
  background-color: red;
}
span {
  background-color: gold;
  padding: 20px;
  margin: 20px;
}*/

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}
.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
}
.list--tick .list__item{
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width:1024px){
  .list--tick .list__item{
    padding-left: 0;
  }
}
/* 5. Icons */
.icon{
  width: 40px;
  height: 40px;
}
.icon--primary{
  fill: var(--color-primary);
}
.icon-container{
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
