<section class="container block block-plans">
    <div class="grid grid--1x3">
      <div class="plan">
        <div class="card card--secondary">
          <header class="card__header">
            <h3 class="plan__name">Entry</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--secondary badge--small">10% OFF</span>
            <!-- <span class="plan__description">East start on the cloud</span> -->
            <span class="plan__description">这是啥呀？</span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">Unlimited Websites</li>
              <li class="list__item">Unlimited Bandwidth</li>
              <li class="list__item">100 GB SSD Sotrage</li>
              <li class="list__item">3 GB RAM</li>
            </ul>
            <!-- <button class="btn btn--block btn--outline">BUY NOW</button> -->
            <button class="btn btn--block btn--outline">你说多少？</button>
          </div>
        </div>
      </div>

      <div class="plan plan--popular">
     
          <div class="card card--primary">
            <header class="card__header">
              <h3 class="plan__name">Business</h3>
              <span class="plan__price">$24</span>
              <span class="plan__billing-cycle">/month</span>
              <span class="badge badge--primary badge--small">20% OFF</span>
              <!-- <span class="plan__description">Optimal Cloud Experience</span> -->
            <span class="plan__description">朱凤琴啊!</span>

            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Unlimited Websites</li>
                <li class="list__item">Unlimited Bandwidth</li>
                <li class="list__item">100 GB SSD Sotrage</li>
                <li class="list__item">3 GB RAM</li>
                <li class="list__item">2 CPU Cores</li>
              </ul>
              <!-- <button class="btn btn--block btn--outline">BUY NOW</button> -->
              <button class="btn btn--block btn--outline">今天今天今天9块9上车</button>
            </div>
          </div>
      
      </div>


      <div class="plan">
        <div class="card card--secondary">
          <header class="card__header">
            <h3 class="plan__name">Business plus</h3>
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--secondary badge--small">10% OFF</span>
            <!-- <span class="plan__description">East start on the cloud</span> -->
            <span class="plan__description">今天多少?</span>

          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">Unlimited Websites</li>
              <li class="list__item">Unlimited Bandwidth</li>
              <li class="list__item">100 GB SSD Sotrage</li>
              <li class="list__item">3 GB RAM</li>
              <li class="list__item">2 CPU Cores</li>
            </ul>
            <!-- <button class="btn btn--block btn--outline">BUY NOW</button> -->
            <button class="btn btn--block btn--outline">上车就上车1</button>
          </div>
        </div>
      </div>
    </div>
  </section>
